{% extends 'base.html' %}
{% block title %} Inicio - Visualizando {% endblock %}
{% block content %}
<style>
    .body_container {
      width: 75%;
      margin: 20px auto 0;

    }
    .found {
      background-color: rgba(255, 255, 255, 0.91);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
</style>
<div class="body_container found">
<h1 style="text-align: center">TU LIBRERIA DE CARTAS</h1>
<h1>{{title}}</h1>
<h3 style="text-align: center"> precios, guardados y novedades</h3>
<h4 style="color: blue">{{name}}</h4>
  <br>
  <div style="text-align: left; margin-left: 70px;">
<p><h4> aqui puedes agregar tus cartas que tienes actualmente para llevar un registro de ellas.</h4> </p>

<ul >
<h4>
    <li>gestionar tus obtenciones</li>
    <li>gestionar sus precios</li>
    <li>actualizar tu colección.</li>
</h4>
</ul>



<div class="card mb-3" style="max-width: 540px; max-height: fit-content"style="text-align: center" >
  <div class="row g-0">
    <div class="col-md-4">
    <img src="https://assets.pokemon.com/static-assets/content-assets/cms2-es-xl/img/cards/web/SV08/SV08_LA_240.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Nombre</h3>
        <p class="card-text">tipo_carta</p>
        <p class="card-text">tipo</p>
        <p class="card-text">rareza</p>
        <p class="card-text">Costo en bolsa</p>
        <p class="d-inline-flex gap-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Stats
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p>PS:</p>
          <P>Ataque:</P>
          <P>Defensa:</P>
          <P>Velocidad:</P>
          <P>Ataque esp:</P>
          <P>Defensa esp:</P>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<br>

{% endblock %}
</div>