{% extends 'base.html' %}
{% block title %} Inicio - Visualizando {% endblock %}
{% block content %}
<style>
    .body_container {
      width: 75%;
      margin: 20px auto 0;

    }
    .found {
      background-color: rgba(255, 255, 255, 0.91);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
</style>
<div class="body_container found">
 <!-- Buscador -->
  <form class="mb-4" method="get" action="/ver_pokemones">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar por nombre..." value="{{ request.query_params.q | default('') }}">
      <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </div>
  </form>

  {% if not pokemones %}
    <div class="alert alert-warning mt-4">No se encontraron cartas con ese nombre.</div>
  {% else %}
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo Carta</th>
            <th>Tipo</th>
            <th>Rareza</th>
            <th>Costo en Bolsa</th>
            <th>HP</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Velocidad</th>
            <th>Ataque Esp.</th>
            <th>Defensa Esp.</th>
          </tr>
        </thead>
        <tbody>
          {% for pokemon in pokemones %}
          <tr>
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.nombre }}</td>
            <td>{{ pokemon.tipo_carta.value }}</td>
            <td>{{ pokemon.tipo | join(", ") }}</td>
            <td>{{ pokemon.rare.value }}</td>
            <td>{{ pokemon.costo_en_bolsa }}</td>
            <td>{{ pokemon.stats.hp }}</td>
            <td>{{ pokemon.stats.attack }}</td>
            <td>{{ pokemon.stats.defense }}</td>
            <td>{{ pokemon.stats.speed }}</td>
            <td>{{ pokemon.stats.special_atk }}</td>
            <td>{{ pokemon.stats.special_def }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}